<div>
    <form action="/tasks" method="post">
        <div>
            <div>
                <input type="text" name="title" placeholder="Title"><br>
                <input type="text" name="due_date" placeholder="Deadline YYYY-MM-DD">
            </div>
            <div>
                <input type="submit" value="Add">
            </div>
        </div>
    </form>
</div>