<div>
    <form action="/signup" method="post">
        <div>
            <div>
                <input name="name" placeholder="Name"><br>
                <input name="password"placeholder="Password"><br>
                <input name="password_confirmation"placeholder="Enter Password Again">
            </div>
            <div>
                <input type="submit" value="New Account">  
            </div>
        </div>
    </form>    
</div>