<div>
    <form action="/signin" method="post">
        <div>
            <div>
                <input name="name" placeholder="Enter Name"><br>
                <input name="password" type="password"placeholder="Enter Password"><br>
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
      </div>
    </form>  
</div>